<!Doctype>
<html>
<head>
<title></title>	
</head>
<body>
	


		<form method = "POST" action="/save">

        Item name: <input type="text" name="item"><br>
        Amount: <input type="text" name="amount"><br>
        
       

        <input type="submit" value="Submit">

        </form>

        <!-% expense. %>

</body>
</html>